@font-face {
    font-family: "rajdhani";
    src: url("../fonts/rajdhani.woff2"), url("../fonts/rajdhani.woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "rajdhani";
    src: url("../fonts/rajdhanibold.woff2"), url("../fonts/rajdhanibold.woff");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "rajdhani";
    src: url("../fonts/rajdhanimedium.woff2"), url("../fonts/rajdhanimedium.woff");
    font-weight: 500;
    font-display: swap;
}
