body {
    position: relative;
    margin: 0px;
    padding: 0px;
    font-family: "rajdhani", "roboto", sans-serif;

img {
        height: auto;
        max-width: 100%;
        border-style: none;
    }
}
