.slider {
	@media (min-width: 1360px) {
		position: fixed;
		width: 44%;
		left: 0;
	}
}

.swiper {
	position: relative;
	height: 600px;
	margin-bottom: 11px;

	@media (min-width: 1360px) {
		height: 100vh;
	}
}

.slider-atribute {
	position: absolute;
	bottom: 92px;
	left: 16px;
	color: white;

	@media (min-width: 1360px) {
		bottom: 102px;
		left: 53px;
	}
}

.slider-picture {
	height: 100%;
	width: 100%;
	object-fit: cover;

	@media (min-width: 720px) {
		max-width: 100%;
		max-height: 100%;
	}
}

.slider-atribute h2 {
	margin: 0;
	font-size: 48px;
	font-weight: normal;
	line-height: 48px;

	@media (min-width: 720px) {
		font-size: 64px;
		padding: 10px 0;
	}

	@media (min-width: 1360px) {
		font-size: 72px;
		padding: 16px 0;
	}
}

.slider-atribute p {
	margin: 0;
	line-height: 22px;

	@media (min-width: 720px) {
		font-size: 24px;
		font-weight: 500;
	}

	@media (min-width: 1360px) {
		font-size: 28px;
	}
}

.swiper-button-prev,
.swiper-button-next {
	background-color: transparent;
	border: none;
	left: 0px;
	top: inherit;
	bottom: 15px;
}

.swiper-button-next {
	left: 66px;
}

.swiper-button-prev {
	left: 18px;
}

.swiper-button-next:after {
	background-image: url("/img/arrow-default-right.svg");
	position: absolute;
	width: 32px;
	height: 32px;
	content: "";
	background-repeat: no-repeat;
	background-position: center center;
	top: 0;

	@media (min-width: 1360px) {
	top: -5px;
	left: 35px;
	}
}

.swiper-button-prev:after {
	background-image: url("/img/arrow-default-left.svg");
	position: absolute;
	width: 32px;
	height: 32px;
	content: "";
	background-repeat: no-repeat;
	background-position: center center;
	top: 0;

	@media (min-width: 1360px) {
		top: -5px;
		left: 34px;
		}
}

.swiper-pagination {
	color: #fff;
	width: 50%;
	left: 131px;
	bottom: 30px;
	font-size: 21px;

	@media (min-width: 720px) {
		left: 31px;
	}

	@media (min-width: 1360px) {
		left: 98px;
		bottom: 35px;
		font-size: 20px;
	}
}
